{
  "root": true,
  "extends": ["standard", "prettier", "prettier/standard"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "semi": [2, "always"],
    "no-extra-semi": 2,
    "prefer-template": "warn"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  }
}
